{% if apache_vhost_mode == 'www' %}
# Apache VirtualHost Configuration

<VirtualHost *:80>
  ServerName {{apache_appname}}.yourdomain.com
  DocumentRoot "/data/wwwroot/{{apache_appname}}"
  ErrorLog "logs/{{apache_appname}}-error_log"
  CustomLog "logs/{{apache_appname}}-access_log" common
  
  <Directory "/data/wwwroot/{{apache_appname}}">
    DirectoryIndex {{apache_default_index}}
    Options FollowSymlinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>

#----- HTTPS  start ------------

#----- HTTPS  end --------------
{% endif %}

{% if apache_vhost_mode == 'alias' %}
Alias /app1 "/data/wwwroot/{{apache_appname}}"
<Directory "/data/wwwroot/{{apache_appname}}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride all
    Require all granted
</Directory>
{% endif %}
