{% if apache_vhost_mode == 'www' %}
# Apache VirtualHost Configuration

<VirtualHost *:80>
  ServerName www.example.com
  ServerAlias example.com
  DocumentRoot "/data/wwwroot/www.example.com"
  ErrorLog "logs/www.example.com-error_log"
  CustomLog "logs/www.example.com-access_log" common
  <Directory "/data/wwwroot/www.example.com">
    Options FollowSymlinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>

#----- HTTPS  start ------------

#----- HTTPS  end --------------
{% endif %}

{% if apache_vhost_mode == 'alias' %}
{% if apache_appname == 'example' %}
Alias /app1 "/data/wwwroot/www.example.com"
<Directory "/data/wwwroot/www.example.com">
{% endif %}
{% if apache_appname != 'example' %}
Alias /app1 "/data/wwwroot/{{apache_appname}}.yourdomain.com"
<Directory "/data/wwwroot/{{apache_appname}}.yourdomain.com">
{% endif %}   
    Options Indexes FollowSymLinks MultiViews
    AllowOverride all
    Require all granted
</Directory>
{% endif %}
